*{margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 20px;}



#wrapper{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: beige;
}
input{
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 10px;
    }
select{
    width: 95%;
    padding: 0.5rem;
    margin: 3px;
    margin: 0.2rem;
    border-radius: 10px;
    

}
.err{
    color: red;
}
.texterr{
    color: red;
    border-color: red;
}